@import './common';
@import './example';

.container {
  width: 1032px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  padding-top: 76px;
}

.header {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: lightseagreen;

  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;

  margin-left: auto;
  margin-right: auto;
}

.photo-card {
  width: 238px;
  height: 220px;

  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.info {
  display: flex;
  justify-content: center;
  align-items: end;

  gap: 8px;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 12px;
  gap: 4px;
}

.load-more {
  display: block;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;

  width: 150px;
  height: 50px;

  font-size: 20px;
  color: white;
  background-color: #20b2aa;
  text-decoration: none;
  border-radius: 6px;
  border: none;
}

.load-more:hover,
.load-more:focus {
    background: #1a8d87;
}

.load-more:active {
    transform: scale(0.99);
}

[show-btn|="false"] {
  display: none;
}